{
  "restartable": "rs",
  "ignore": [".git", "node_modules"],
  "verbose": true,
  "watch": ["src"],
  "ext": "js json",
  "exec": "babel-node --inspect ./src/index.js",
  "env": {
    "APP_NAME": "Sushi Go!",
    "NODE_ENV": "development",
    "PORT": ,
    "API_KEY": "",
    "DB_USER": "",
    "DB_PASS": "",
    "JWT_SECRET": "",
    "SMTP": "",
    "EMAIL_ADDRESS": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_PORT": 
  }
}
