{
  "restartable": "rs",
  "ignore": [".git", "node_modules"],
  "verbose": true,
  "watch": ["src"],
  "env": {
    "APP_NAME": "Shushi Go!",
    "NODE_ENV": "development",
    "PORT": 4100,
    "API_KEY": "",
    "JWT_SECRET": "",
    "SMTP": "",
    "EMAIL_ADDRESS": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_PORT": 
  },
  "ext": "js json",
  "exec": "babel-node --inspect ./src/index.js"
}
